<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>

<!--  container for metadata( is not displayed on the page )
      title, styles( css), link, scripts, meta and other
-->
</head>
<body>

  <b>Welcome to Java developer course</b>
<h1 align="center" style="color: blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>


<img src="springboot.png" alt = "Spring boot image">

<ul>
  <li>JAVA</li>
  <li>MVC</li>
  <li>ORM</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>


</body>
</html>