<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Title</title>
</head>
<body>
<h2> Welcome New Student</h2>
<!--Displaying the value-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatination-->

<h2 th:text="${ 'Welcome ' + students.get(0).firstName}"></h2>

<!--Links -->

<a th:href="@{https://cydeo.com}">Cydeo Home Page</a><br>
<a th:href="@{/student/welcome}">Link 1</a><br>

<!--Adding Parameters to Link-->
<a th:href="@{/student/welcome(id=3)}">Link 2</a>

<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Link 2</a>

<!--iterations-->

<ul>
    <li th:each="student : ${students}" th:text="${student.firstName}"></li>
</ul>

<!--conditional logic-->
<div th:text="${students.get(0).age > 25 ? 'ELIGIBLE' : 'NOT ELIGBLE'}"></div>

<div>
    <span th:if ="${students.get(0).getState() == 'Arizona'}">Arizona</span>
    <span th:unless ="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>
</div>

</body>
</html>
